.wrapper {
    flex-direction: column;
    display: flex;
    align-items: center;
}
.container {
    width: var(--default-layout-width);
    display: flex;
}
.content {
    flex: 1;
    background-color: #fff;
    min-height: 1000px;
}
